.box{
    background-color: red;
    font-size: 72px;
    text-align: center;
    color: white;


   
}

@media only screen and (min-width: 300px){

    #box1{
        display: block;
        color: black;
        background-color: yellow;
    }
    
}

@media only screen and (min-width: 300px) and (max-width: 500px){

    #box2{
        display: block;
        color: black;
        background-color: orange;
    }


}
@media only screen and (min-width: 500px) and (max-width: 800px){

    #box3{
        display: block;
        color: black;
        background-color: blue;
    }


}
@media  only screen and (min-width: 800px){

    #box4{
        display: block;
        color: black;
        background-color: red;
    }


}