h1{
    background-color: red;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* div li p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: aqua;

} */

div > p{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: aqua;
}

.BTN{

    background-color: orange;
}


.BTN:hover{

    color: brown;

    text-shadow: 2PX 2PX blue;
}